In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.DataFrame({
    "a": [1,2,3], "b": [4,5,6], "c": [7,8,9]}, index=[1,2,3])
df

   a  b  c
1  1  4  7
2  2  5  8
3  3  6  9

In [4]:
df = pd.DataFrame({
    "a": [1,2,3], "b": [4,5,6], "c": [7,8,9]}, index=pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)], names = ['x1', 'x2']))
df

       a  b  c
x1 x2
d  1   1  4  7
   2   2  5  8
e  2   3  6  9