In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

In [3]:
data = pd.read_csv('uni_data.csv')
data

,institution,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,patents,score
0,Harvard University,1,7,9,1,1,1,1,5,100.00
1,Massachusetts Institute of Technology,2,9,17,3,12,4,4,1,91.67
2,Stanford University,3,17,11,5,4,2,2,15,89.50
3,University of Cambridge,1,10,24,4,16,16,11,50,86.17
4,California Institute of Technology,4,2,29,7,37,22,22,18,85.21
...,...,...,...,...,...,...,...,...,...,...
2195,University of the Algarve,7,367,567,218,926,845,812,816,44.03
2196,Alexandria University,4,236,566,218,997,908,645,871,44.03
2197,Federal University of Ceará,18,367,549,218,830,823,812,824,44.03
2198,University of A Coruña,40,367,567,218,886,974,812,651,44.02
2199,China Pharmaceutical University,83,367,567,218,861,991,812,547,44.02

In [4]:
X = data.iloc[:-1, 1:9] 
y = data.iloc[:-1, 9]

In [10]:
X

,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,patents
0,1,7,9,1,1,1,1,5
1,2,9,17,3,12,4,4,1
2,3,17,11,5,4,2,2,15
3,1,10,24,4,16,16,11,50
4,4,2,29,7,37,22,22,18
...,...,...,...,...,...,...,...,...
2194,4,367,449,218,595,430,645,839
2195,7,367,567,218,926,845,812,816
2196,4,236,566,218,997,908,645,871
2197,18,367,549,218,830,823,812,824
2198,40,367,567,218,886,974,812,651

In [11]:
y

0       100.00
1        91.67
2        89.50
3        86.17
4        85.21
         ...
2194     44.03
2195     44.03
2196     44.03
2197     44.03
2198     44.02
Name: score, Length: 2199, dtype: float64

In [5]:
model_lasso = Lasso(alpha=0.99)
model_ridge = Ridge(alpha=0.99)

In [6]:
model_lasso.fit(X, y)
model_ridge.fit(X, y)

Ridge(alpha=0.99)

In [7]:
new = data.iloc[2199, 1:9]

In [8]:
prediction_lasso = model_lasso.predict([new])
prediction_ridge = model_ridge.predict([new])

C:\Users\cherr\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)
C:\Users\cherr\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

In [9]:
print('Predicted: %.3f' % prediction_lasso)
print('Predicted: %.3f' % prediction_ridge)

Predicted: 42.894
Predicted: 42.873